<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" th:href="@{/icon/favicon.png}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>ProjectAdvisor | Project Management Page</title>
</head>
<body>
<div class="dashboard">
    <!-- Left Section: Project List -->
    <div class="project-list">
        <h2>Liste des Projets</h2>
        <div class="project-card" th:each="p : ${projects}">
            <div class="project-card-header">
                <h3 th:value="${p.name}">Project Name</h3>
                <a><i class="fas fa-edit"></i></a>
                <a><i class="fas fa-trash-alt"></i></a>
            </div>
            <button onclick="toggleDetails(this)"><i class="fas fa-chevron-down"></i></button>
            <div class="project-card-body" style="display: none">
                <span  class="span-label" th:text="Ville"></span>
                <span class="span-value" th:text="${p.ville}"></span>
            </div>
            <div class="project-card-footer">
                <div>
                    <input>
                    <button>Prédir Profit</button>
                </div>
                <div>
                    <input>
                    <button>Prédir Top500</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Right Section: Add Project Form -->
    <div class="project-form">
        <h2>Nouvelle Etude</h2>
        <form th:action="@{/project}" method="post" class="form-global" >
            <input type="text" id="ville" name="ville"  placeholder="Ville" required>
            <input type="number" id="nombre_relations" name="nombre_relations" placeholder="Nombre de Relations" required>
            <input type="number" id="tours_financement" name="tours_financement" placeholder="Tours de Financement" required>
            <input type="number" id="capitale_fonds" name="capitale_fonds" placeholder="Capitale Fonds" required>
            <input type="text" id="categorie" name="categorie" placeholder="Catégorie" required>
            <input type="number" id="investisseurs_providentiels" placeholder="Investisseurs Providentiels" name="investisseurs_providentiels" required>
            <input type="number" id="nombre_participants" name="nombre_participants" placeholder="Nombre de Participants" required>
            <input type="text" id="region" name="region" placeholder="Region" required>
            <input type="number" id="rnd" name="rnd" placeholder="R&D" required>
            <input type="number" id="marketing" name="marketing" placeholder="Marketing" required>
            <input type="number" id="administration" name="administration" placeholder="Administration" required>
            <button type="submit"><i class="fas fa-add"></i></button>
        </form>
    </div>
</div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>