<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" th:href="@{/icon/favicon.png}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>ProjectAdvisor | Login Page</title>
</head>
<body>
<div id="errorToast" class="toast-erreur" th:if="${erreur != null}" th:text="${erreur}"></div>
<div class="container" id="container">
    <div class="form-container container-left">
        <form th:action="@{/register}" method="post">
            <h1>Entrepreneur</h1>
            <input type="text" placeholder="FirstName" name="firstname" th:field="*{entrepreneur.firstname}" required>
            <input type="text" placeholder="LastName" name="lastname" th:field="*{entrepreneur.lastname}" required>
            <input type="number" placeholder="Age" name="age" th:field="*{entrepreneur.age}" required>
            <div style="display: flex; gap: 10px; align-items: center;">
                <div th:each="gender : ${T(ma.advisor.projectadvisor.model.Sexe).values()}">
                    <label style="display: flex; align-items: center; gap: 5px;">
                        <input type="radio" th:field="*{entrepreneur.gender}" th:value="${gender.name()}" required/>
                        <span th:text="${gender}"></span>
                    </label>
                </div>
            </div>
            <input type="email" placeholder="Email" name="email" th:field="*{entrepreneur.email}" required>
            <input type="password" placeholder="Password" name="password" th:field="*{entrepreneur.password}" required>
            <button type="submit">S'inscrire</button>
        </form>
    </div>
    <div class="form-container container-right">
        <form th:action="@{/login}" method="post">
            <h1>Se Connecter</h1>
            <input type="email" placeholder="Email" name="email" th:field="${entrepreneur.email}" required>
            <input type="password" placeholder="Password" name="password" th:field="${entrepreneur.password}" required>
            <button type="submit">Se Connecter</button>
            <div class="floating-card">
                <h5>Découvrez si vous êtes un entrepreneur en répondant à quelques questions </h5>
                <a th:href="@{/visitor}">
                    <img width="48" height="48" src="https://img.icons8.com/color/48/project-management.png"
                         alt="project-management"/>
                </a>
            </div>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <img width="48" height="48" src="https://img.icons8.com/pulsar-gradient/48/flipboard.png"
                     alt="flipboard"/>
                <h1>Bienvenue à nouveau !</h1>
                <p>Entrez vos informations personnelles pour utiliser toutes les fonctionnalités du site</p>
                <button class="hidden" id="login">Se Connecter</button>
            </div>
            <div class="toggle-panel toggle-right">
                <img width="48" height="48" src="https://img.icons8.com/pulsar-gradient/48/group-of-projects.png"
                     alt="group-of-projects"/>
                <h1>Bonjour, Entrepreneur !</h1>
                <p>Inscrivez-vous avec vos informations personnelles pour utiliser toutes les fonctionnalités du
                    site</p>
                <button class="hidden" id="register">S'inscrire</button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/script.js}"></script>
</body>
</html>