<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" th:href="@{/icon/favicon.png}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>ProjectAdvisor | Prediction Profile Page</title>
</head>
<body>
<div id="errorToast" class="toast-erreur" th:if="${erreur != null}" th:text="${erreur}"></div>
<div class="container" id="container">
    <form th:action="@{/profile}" method="post">
        <div class="form-container container-left">
            <div class="form-global">
                <div style="display: flex; flex-direction: column; gap: 10px;">
                    <div>
                        <span class="span-label">Quel est votre degré de persévérance ?</span>
                        <div style="display: flex; gap: 10px; align-items: center;">
                            <div th:each="rep : ${range}">
                                <label style="display: flex; align-items: center; gap: 5px;">
                                    <input type="radio" th:field="*{profile.DegPerseverance}" th:value="${rep}"
                                           required/>
                                    <span th:text="${rep}"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span class="span-label">Quel est votre niveau d'initiative ?</span>
                        <div style="display: flex; gap: 10px; align-items: center;">
                            <div th:each="rep : ${range}">
                                <label style="display: flex; align-items: center; gap: 5px;">
                                    <input type="radio" th:field="*{profile.DegInitiative}" th:value="${rep}"
                                           required/>
                                    <span th:text="${rep}"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span class="span-label">Quel est votre niveau de compétition ?</span>
                        <div style="display: flex; gap: 10px; align-items: center;">
                            <div th:each="rep : ${range}">
                                <label style="display: flex; align-items: center; gap: 5px;">
                                    <input type="radio" th:field="*{profile.DegCompetition}" th:value="${rep}"
                                           required/>
                                    <span th:text="${rep}"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span class="span-label">Quel est votre degré d'autonomie ?</span>
                        <div style="display: flex; gap: 10px; align-items: center;">
                            <div th:each="rep : ${range}">
                                <label style="display: flex; align-items: center; gap: 5px;">
                                    <input type="radio" th:field="*{profile.DegAutonomie}" th:value="${rep}"
                                           required/>
                                    <span th:text="${rep}"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span class="span-label">À quel point avez-vous un besoin de réussite ?</span>
                        <div style="display: flex; gap: 10px; align-items: center;">
                            <div th:each="rep : ${range}">
                                <label style="display: flex; align-items: center; gap: 5px;">
                                    <input type="radio" th:field="*{profile.DegBesoinReussite}" th:value="${rep}"
                                           required/>
                                    <span th:text="${rep}"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span class="span-label">Quel est votre niveau de confiance en vous ?</span>
                        <div style="display: flex; gap: 10px; align-items: center;">
                            <div th:each="rep : ${range}">
                                <label style="display: flex; align-items: center; gap: 5px;">
                                    <input type="radio" th:field="*{profile.DegConfiance}" th:value="${rep}"
                                           required/>
                                    <span th:text="${rep}"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span class="span-label">Quel est votre niveau de santé actuel ?</span>
                        <div style="display: flex; gap: 10px; align-items: center;">
                            <div th:each="rep : ${range}">
                                <label style="display: flex; align-items: center; gap: 5px;">
                                    <input type="radio" th:field="*{profile.DegSante}" th:value="${rep}" required/>
                                    <span th:text="${rep}"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit">Prédir</button>
            </div>
        </div>
        <div class="form-container container-right">
            <div class="form-global">
                <input type="number" th:field="*{profile.Age}" placeholder="Age" name="Age">
                <span class="span-label">Choisissez Votre Education</span>
                <select name="Education" class="select-styled" th:field="*{profile.Education}" required>
                    <option th:each="education : ${Profile_Valeurs.valeurs_education()}" th:value="${education}"
                            th:text="${education}"></option>
                </select>
                <span class="span-label">Choisissez Votre Trait de Personnalité</span>
                <select class="select-styled" name="TraitsCles" th:field="*{profile.TraitsCles}" required>
                    <option th:each="trait : ${Profile_Valeurs.valeurs_trait()}" th:value="${trait}"
                            th:text="${trait}"></option>
                </select>
                <div style="display: flex; gap: 10px; align-items: center;">
                    <div th:each="gender : ${T(ma.advisor.projectadvisor.model.Sexe).values}">
                        <label style="display: flex; align-items: center; gap: 5px;">
                            <input type="radio" th:field="*{profile.Genre}" th:value="${gender.name}" required/>
                            <span th:text="${gender}"></span>
                        </label>
                    </div>
                </div>
                <div style="display: flex; gap: 10px; align-items: center;">
                    <div th:each="rep : ${T(ma.advisor.projectadvisor.model.Reponse).values}">
                        <span class="span-label">Est-ce que c'est un Projet Individuel ?</span>
                        <label style="display: flex; align-items: center; gap: 5px;">
                            <input type="radio" th:field="*{profile.ProjetIndividuel}" th:value="${rep.name}"
                                   required/>
                            <span th:text="${rep}"></span>
                        </label>
                    </div>
                </div>
                <span class="span-label">Est-ce que votre Projet est dans la même Ville où vous habitez ?</span>
                <div style="display: flex; gap: 10px; align-items: center;">
                    <div th:each="rep : ${T(ma.advisor.projectadvisor.model.Reponse).values}">
                        <label style="display: flex; align-items: center; gap: 5px;">
                            <input type="radio" th:field="*{profile.EnVille}" th:value="${rep.name}"
                                   required/>
                            <span th:text="${rep}"></span>
                        </label>
                    </div>
                </div>
                <span class="span-label">Est-ce que quelqu'un vous a influencé pour créer votre projet ?</span>
                <div style="display: flex; gap: 10px; align-items: center;">
                    <div th:each="rep : ${T(ma.advisor.projectadvisor.model.Reponse).values}">
                        <label style="display: flex; align-items: center; gap: 5px;">
                            <input type="radio" th:field="*{profile.Influence}" th:value="${rep.name}"
                                   required/>
                            <span th:text="${rep}"></span>
                        </label>
                    </div>
                </div>
                <span class="span-label">Est-ce que vous avez un trouble mental ?</span>
                <div style="display: flex; gap: 10px; align-items: center;">
                    <div th:each="rep : ${T(ma.advisor.projectadvisor.model.Reponse).values}">
                        <label style="display: flex; align-items: center; gap: 5px;">
                            <input type="radio" th:field="*{profile.TroubleMental}" th:value="${rep.name}"
                                   required/>
                            <span th:text="${rep}"></span>
                        </label>
                    </div>
                </div>

            </div>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <img th:if="${erreur==null}" width="48" height="48"
                         src="https://img.icons8.com/color/48/project-management.png"
                         alt="project-management"/>
                    <h1 th:if="${erreur==null}">Vous y êtes Presque !</h1>
                    <p th:if="${erreur==null}">Entrez les informations manquantes</p>

                    <img th:if="${erreur!=null}" width="100" height="100"
                         src="https://img.icons8.com/clouds/100/confetti.png" alt="confetti"/>
                    <h1 th:if="${erreur!=null}" th:text="${erreur}"></h1>
                    <p th:if="${erreur!=null}"> Notre Model a pour précision un pourcentage de 59% </p>
                    <button class="hidden" id="login" type="button">Retour</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <img th:if="${erreur==null}" width="48" height="48"
                         src="https://img.icons8.com/color/48/project-management.png"
                         alt="project-management"/>
                    <h1 th:if="${erreur==null}">Bonjour, Entrepreneur !</h1>
                    <p th:if="${erreur==null}">Tester Votre Potentiel autant qu'Entrepreneur</p>

                    <img th:if="${erreur!=null}" width="100" height="100"
                         src="https://img.icons8.com/clouds/100/confetti.png" alt="confetti"/>
                    <h1 th:if="${erreur!=null}" th:text="${erreur}"></h1>
                    <p th:if="${erreur!=null}"> Notre Model a pour précision un pourcentage de 59% </p>
                    <button class="hidden" id="register" type="button">Suivant</button>
                    <a th:href="@{/}">
                        <button class="hidden" type="button">Revenir à la page de connexion
                        </button>
                    </a>

                </div>
            </div>
        </div>
    </form>
</div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>